name: Knip

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'src/**'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
      - 'knip.json'

permissions: {}

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  knip:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup with mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Install dependencies
        run: |
          npm ci

      - name: Run Knip
        run: |
          npm run knip
