name: Test

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'src/**'

permissions: {}

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup with mise
        uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      - name: Install dependencies
        run: |
          npm ci

      - name: Run tests
        run: |
          set -x
          npm test
